In [0]:
from google.colab import files
uploaded = files.upload()

Saving timesMergedData.csv to timesMergedData.csv

In [0]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
import pandas as pd
import numpy as np
import re
import io
import statistics
df = pd.read_csv(io.StringIO(uploaded['timesMergedData.csv'].decode('utf-8')))
df

User uploaded file "timesMergedData.csv" with length 350113 bytes

,SCHOOL,STATE,CITY,NOC,PROGRAM,TYPE,DEPARTMENT,DELIVERY,DURATION,PREREQ,...,RESEARCH,CITATIONS,INCOME,TOTAL_SCORE,NUM_STUDENTS,STUDENT_STAFF_RATIO,INTERNATIONAL_STUDENTS,F_M_RATIO,YEAR,timesData
0,Albright College,Pennsylvania,Reading,1,M.S. in Business Intelligence,M,Erivan K. Haub School of Business,Online,30 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,American Sentinel University,Colorado,Aurora,1,Master of Science Business Intelligence and An...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,American University,District of Columbia,Washington,2,Online MBA with Analytics Concentration,M,Kogod School of Business,Online,15 months,Not Available,...,16.5,41.1,35.9,-,"11,604",12.0,12%,60:40:00,2016.0,1
3,American University,District of Columbia,Washington,2,Master of Science in Analytics,M,Kogod School of Business,Online,33 credit hours,Not Available,...,16.5,41.1,35.9,-,"11,604",12.0,12%,60:40:00,2016.0,1
4,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,35.9,83.6,31.4,48.9,"83,236",29.9,9%,50:50:00,2014.0,1
5,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,44.1,66.9,-,50.3,"83,236",29.9,9%,50:50:00,2011.0,1
6,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,45.2,79.9,31.8,51.9,"83,236",29.9,9%,50:50:00,2013.0,1
7,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,39.0,80.3,28.7,49.9,"83,236",29.9,9%,50:50:00,2012.0,1
8,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,37.5,73.1,32.6,46.9,"83,236",29.9,9%,50:50:00,2015.0,1
9,Arizona State University,Arizona,Tempe,1,Master of Science in Business Analytics,M,W.P. Carey School of Business,Online or Campus,9 month (FT) or 16 month (online),Not Available,...,38.1,84.6,32,49.7,"83,236",29.9,9%,50:50:00,2016.0,1
10,Aspen University,Colorado,Denver,1,Master of Science in Technology and Innovation...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,Auburn University,Alabama,Auburn University,1,Online Master of Business Administration with ...,M,Raymond J. Harbert College of Business,Online,36 credit hours,Not Available,...,19.4,21.0,37.2,-,"22,386",17.6,4%,51:49:00,2016.0,1
12,Auburn University,Alabama,Auburn University,1,Online Master of Business Administration with ...,M,Raymond J. Harbert College of Business,Online,36 credit hours,Not Available,...,18.7,10.3,47.3,-,"22,386",17.6,4%,51:49:00,2012.0,1
13,Aurora University,Illinois,Aurora,1,Master of Science in Digital Marketing and Ana...,M,Dunham School of Business,Campus,30 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,Austin Peay State University,Tennessee,Clarksville,2,Professional Science Master's in Data Manageme...,M,Department of Computer Science and Information...,Online,2 years,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15,Austin Peay State University,Tennessee,Clarksville,2,Professional Science Master's Degree in Predic...,M,Department of Mathematics and Statistics,Online,2 years,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,Babson College,Massachusetts,Wellesley,1,MBA with Business Analytics Concentration,M,F.W. Olin Graduate School of Business,Campus,41-55 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,Baker College,Michigan,Allen Park,1,MBA in Business Intelligence,M,Baker College,Online,53 hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,Bay Path University,Massachusetts,Longmeadow,1,MS in Applied Data Science,M,Graduate school,Campus or online,36 credits,"math, statistics",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,Bellevue College,Washington,Bellevue,1,Healthcare Data Analyst Certificate,C,Bellevue College Continuing Education,Campus,227 hours,"computer science, math",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
20,Bellevue University,Nebraska,Bellevue,2,Master of Professional Science in Technology I...,M,College of Science and Technology,Online,40 credit hours/18 months,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
21,Bellevue University,Nebraska,Bellevue,2,Master of Science-Business Analytics,M,College of Science and Technology,Online,36 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
22,Benedictine University,Illinois,Lisle,1,Master of Science in Business Analytics,M,College of Business,Campus,64 quarter credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,Bentley University,Massachusetts,Waltham,9,Graduate Certificate in Marketing Analytics,C,Graduate School of Business,Campus,15 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
24,Bentley University,Massachusetts,Waltham,9,Emerging Leaders MBA - Business Analytics,M,Graduate School of Business,Campus,55 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25,Bentley University,Massachusetts,Waltham,9,Emerging Leaders MBA - Information Systems and...,M,Graduate School of Business,Campus,55 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
26,Bentley University,Massachusetts,Waltham,9,Graduate Certificate in Business Analytics,C,Graduate School of Business,Campus,12 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,Bentley University,Massachusetts,Waltham,9,Master of Business Analytics,M,Graduate School of Business,Campus,33 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
28,Bentley University,Massachusetts,Waltham,9,Master of Science In Marketing Analytics,M,Graduate School of Business,Campus,33 credit hours,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
29,Bentley University,Massachusetts,Waltham,9,Masters of Information Technology,M,Graduate School of Business,Campus,39 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,University of Washington-Seattle Campus,Washington,Seattle,3,Ph.D. in Big Data and Data Science,M,eScience Institute,Campus,16 Credit Hours,"math,statistics",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
925,University of Washington-Tacoma Campus,Washington,Tacoma,2,Certificate in Business Intelligence,C,UW Department of Computer Science & Engineering,Campus,9 CEUs,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
926,University of Washington-Tacoma Campus,Washington,Tacoma,2,Certificate in Business Analysis,C,Professional and Continuing Education,Campus,9 CEUs,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
927,University of Wisconsin-Madison,Wisconsin,Madison,1,Master of Science in Statistics - Data Science,M,Department of Statistics,Campus,30 units,Not Available,...,71.3,87.7,53.3,71.9,"39,655",10.8,11%,51:49:00,2015.0,1
928,University of Wisconsin-Madison,Wisconsin,Madison,1,Master of Science in Statistics - Data Science,M,Department of Statistics,Campus,30 units,Not Available,...,67.7,87.2,51.2,71.1,"39,655",10.8,11%,51:49:00,2014.0,1
929,University of Wisconsin-Madison,Wisconsin,Madison,1,Master of Science in Statistics - Data Science,M,Department of Statistics,Campus,30 units,Not Available,...,77.3,90.6,55.3,75.8,"39,655",10.8,11%,51:49:00,2012.0,1
930,University of Wisconsin-Madison,Wisconsin,Madison,1,Master of Science in Statistics - Data Science,M,Department of Statistics,Campus,30 units,Not Available,...,80.1,88.2,54.8,76.9,"39,655",10.8,11%,51:49:00,2013.0,1
931,University of Wisconsin-Madison,Wisconsin,Madison,1,Master of Science in Statistics - Data Science,M,Department of Statistics,Campus,30 units,Not Available,...,68.2,86.6,48.5,69.7,"39,655",10.8,11%,51:49:00,2016.0,1
932,University of Wisconsin-Milwaukee,Wisconsin,Milwaukee,1,Online Graduate Certificate in Business Analytics,C,The Lubar School of Business,Online,15 credits,Not Available,...,13.8,45.5,29,-,"22,542",18.4,5%,52:48:00,2016.0,1
933,University of Wisconsin Colleges,Wisconsin,Madison,1,Online Master of Science in Data Science,M,UW Extension,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
934,Valparaiso University,Indiana,Valparaiso,3,Certificate in Applied Econometric and Data Sc...,C,Department of Economics,Campus,4 courses,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
935,Valparaiso University,Indiana,Valparaiso,3,M.S. in Analytics and Modeling,M,Mathematics and Computer Science departments,Campus,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
936,Valparaiso University,Indiana,Valparaiso,3,MBA with Concentration and Certificate in Busi...,C,Graduate School,Campus,28 courses,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
937,Villanova University,Pennsylvania,Villanova,3,Graduate Certificate in Applied Statistics,C,Liberal Arts and Sciences,Campus,15 credits,math,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
938,Villanova University,Pennsylvania,Villanova,3,Master of Science in Applied Statistics,M,Liberal Arts and Sciences,Campus,30 credits,"math, statistics",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
939,Villanova University,Pennsylvania,Villanova,3,Online Master of Science in Analytics,M,School of Business,Online,33 hours,statistics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
940,Virginia Commonwealth University,Virginia,Richmond,1,"Master of Science in Business, concentration i...",M,School of Business,Campus,30 credit hours,math,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
941,Virginia Tech,Virginia,Blacksburg,1,Master of Science in Business Administration -...,M,Pamplin College of Business,Campus,30 Credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
942,Washington University in St Louis,Missouri,Saint Louis,1,Master of Science in Customer Analytics,M,Olin Business School,Campus,39 Credits,"math, statistics",...,63.0,88.6,-,69.9,"12,528",5.7,17%,NaN,2011.0,1
943,Washington University in St Louis,Missouri,Saint Louis,1,Master of Science in Customer Analytics,M,Olin Business School,Campus,39 Credits,"math, statistics",...,62.8,95.2,-,71.8,"12,528",5.7,17%,NaN,2013.0,1
944,Washington University in St Louis,Missouri,Saint Louis,1,Master of Science in Customer Analytics,M,Olin Business School,Campus,39 Credits,"math, statistics",...,58.9,96.1,-,70.5,"12,528",5.7,17%,NaN,2012.0,1
945,Washington University in St Louis,Missouri,Saint Louis,1,Master of Science in Customer Analytics,M,Olin Business School,Campus,39 Credits,"math, statistics",...,55.6,99.2,33.5,67,"12,528",5.7,17%,NaN,2016.0,1
946,Washington University in St Louis,Missouri,Saint Louis,1,Master of Science in Customer Analytics,M,Olin Business School,Campus,39 Credits,"math, statistics",...,52.9,96.4,-,67.2,"12,528",5.7,17%,NaN,2014.0,1
947,Washington University in St Louis,Missouri,Saint Louis,1,Master of Science in Customer Analytics,M,Olin Business School,Campus,39 Credits,"math, statistics",...,55.2,97.1,-,67.8,"12,528",5.7,17%,NaN,2015.0,1
948,West Virginia University,West Virginia,Morgantown,2,Master of Professional Studies in Statistical ...,M,Department of Statistics,Campus,30 untes,math,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
949,West Virginia University,West Virginia,Morgantown,2,Online Hybrid MS in Business Data Analytics,M,College of Business & Economics,Online,12 months,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
950,Wittenberg University,Ohio,Springfield,1,Master of Science in Analytics,M,Graduate school,Campus and online,12 months,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
951,Worcester Polytechnic Institute,Massachusetts,Worcester,3,Graduate Certificate in Data Science,C,Data Science,Campus,15 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
952,Worcester Polytechnic Institute,Massachusetts,Worcester,3,Master of Science in Data Science,M,Data Science,Campus,33 credit hours,"computer science, statistics, math",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
953,Worcester Polytechnic Institute,Massachusetts,Worcester,3,Ph.D. in Data Science,M,College of Arts & Sciences,Campus,60 Credit Hours,technical bachelor's degree,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [0]:
### Average amount of credits
dur = np.asarray(df['DURATION'])
dur

contains_credit_arr = []
for i in dur:
  i.lower()
  if 'credit' in i:
    contains_credit_arr = np.append(contains_credit_arr, i)

contains_credit_arr

# get number of credits from string
credit_hours = []
for i in contains_credit_arr:
  credit_hours = np.append(credit_hours, re.findall("(\d+) c", i))
credit_hours = credit_hours.astype(int)

avg = np.average(credit_hours)
print("Average credits: " + str(avg))

Average credits: 30.453416149068325

In [0]:
### Value Counts for Pre-reqs

prereq_col = np.asarray(df['PREREQ'])
prereq_col

prereqs = []
for i in prereq_col:
  if 'Not Available' not in i:
    prereqs = np.append(prereqs, i.lower())
prereqs

numCS = 0
numMath = 0
numStats = 0
numBA = 0
numBio = 0

for i in prereqs:
  if 'computer science' in i:
    numCS += 1
  if 'math' in i:
    numMath += 1
  if 'statistics' in i:
    numStats += 1
  if 'bachelor' in i: 
    numBA += 1
  if 'biology' in i:
    numBio += 1
prereqs

print('Number w/ CS prereq: ' + str(numCS))
print('Number w/ Math prereq: ' + str(numMath))
print('Number w/ Stats prereq: ' + str(numStats))
print('Number w/ Bio prereq: ' + str(numBio))
print('Number w/ Bachelor\'s degree prereq: ' + str(numBA))

Number w/ CS prereq: 163
Number w/ Math prereq: 204
Number w/ Stats prereq: 166
Number w/ Bio prereq: 10
Number w/ Bachelor's degree prereq: 58

In [0]:
# count NaNs in f_m_ratio

count_nan = len(df) - df.F_M_RATIO.count()
proportion_nans = count_nan/len(df)
print("Number of NaNs in F_M_RATIO: " + str(count_nan))
print("Proportion of NaNs in F_M_RATIO: " + str(round(proportion_nans,2)))

Number of NaNs in F_M_RATIO: 306
Proportion of NaNs in F_M_RATIO: 0.32

In [0]:
# median, standard deviation in female male ratio

ratio_col = np.asarray(df['F_M_RATIO'].dropna())
#print(ratio_col)

num_Male = []
num_Female = []
for i in ratio_col:
    num_Male = np.append(num_Male, i[:2])
    if i[3] == ":":
      num_Female = np.append(num_Female, i[5:7])
    else:
      num_Female = np.append(num_Female, i[3:5])

num_Male = [float(i) for i in num_Male]
num_Female = [float(i) for i in num_Female]

#print(num_Female)
median_Male = statistics.median(map(float, num_Male))
median_Female = 100 - median_Male

std_Male = np.std(num_Male)
std_Female = np.std(num_Female)

print("Median Male to Female Ratio: " + str(int(median_Male)) + ":" + str(int(median_Female)))
print("Std Deviation for Male to Female Ratio: " + str(round(std_Male,3)) + ":" + str(round(std_Female, 3)))

Median Male to Female Ratio: 51:49
Std Deviation for Male to Female Ratio: 6.591:6.491

In [0]:
# number/percentage of online programs (delivery col) vs. campus programs
df.DELIVERY
valCounts = df.DELIVERY.value_counts()
print(valCounts)
listVals = valCounts.tolist()
total = sum(listVals)

num_Campus = listVals[0] + listVals[7] 
num_Online = listVals[1]
num_Either = listVals[2] + listVals[3] + listVals[5] + listVals[8] + listVals[10]
num_Hybrid = listVals[4] + listVals[9] + listVals[11] + listVals[12] + listVals[13]

print("\nDistribution of on-campus and online programs:")
print("Number on-campus only: " + str(num_Campus) + " --> " + str(round(num_Campus/total, 2)) + "%")
print("Number online only: " + str(num_Online) + " --> " + str(round(num_Online/total, 2)) + "%")
print("Number on-campus OR online: " + str(num_Either) + " --> " + str(round(num_Either/total, 2)) + "%")
print("Number on-campus AND online: " + str(num_Hybrid) + " --> " + str(round(num_Hybrid/total, 2)) + "%")

Campus                                       605
Online                                       251
Campus or Online                              27
Online or On Campus                           18
Hybrid                                        16
Campus or online                               8
Online or Campus                               7
On Campus                                      6
Campus, Online                                 6
Blended                                        6
Online or campus                               1
Online (one Saturday per month on-campus)      1
Campus and online                              1
Online, campus, or hybrid                      1
Name: DELIVERY, dtype: int64

Distribution of on-campus and online programs:
Number on-campus only: 611 --> 0.64%
Number online only: 251 --> 0.26%
Number on-campus OR online: 60 --> 0.06%
Number on-campus AND online: 25 --> 0.03%

In [0]:
# Value counts for type of degree program

valCounts = df.TYPE.value_counts()
print("Value counts for type of degree:\n")
print("Number of Masters Programs: "  + str(valCounts.M))
print("Number of Certificate Programs: "  + str(valCounts.C))

Value counts for type of degree:

Number of Masters Programs: 752
Number of Certificate Programs: 202